.whyus{
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 50px;
 
}
.highlights{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.highlight1{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Mulish;
    color: rgb(208 163 141);
    font-weight: 600;
}
.highlight2{
    font-size: 60px;
    line-height: 90px;
    font-family: Philosopher;
    color: rgb(146 131 128);
    font-weight: 900;
}
.highlight3{
    width: 48%;
    margin: auto;
    font-family: Mulish;
    color: rgb(146 131 128);
    font-size: 16px;
}
.benefits{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.benefit1{
    width: 32%;
    height: 280px;
    background-color: rgb(248 242 240);
    border-radius: 7px;
}
.benefit2{
    width: 32%;
    height: 280px;
    background-color: rgb(248 242 240);
    border-radius: 7px;
}
.benefit3{
    width: 32%;
    height: 280px;
    background-color: rgb(248 242 240);
    border-radius: 7px;  
}
.column-gap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(146 131 128);
    padding: 40px 28px;  
}
.column-gap img{
    width: 60px;
    height: 60px;
}
.column-gap h3{
    font-size: 30px;
    font-family: Philosopher;
    font-weight: 600;
}
.column-gap p{
    font-size: 13px;
    font-family: Mulish;
    text-align: center;
    line-height: 1.2;
}

/* Responsive in tab view */
@media (min-width: 768px) and (max-width: 900px) {
    .whyus{
        width: 100%;
        margin-top: 100px;
        gap: 50px;
    }
    .highlight1{
        font-size: 20px;
    }
    .highlight2{
        font-size: 50px;
        width: 90%;
        margin: auto;
        line-height: 60px;
    }
    .highlight3{
        width: 90%;
        margin: auto;
        line-height: 1.5;
    }
    .slider {
        width: 80%;
        justify-content: center;
        display: flex;
        margin: auto;
        overflow: hidden; 
        position: relative;
    }
    .benefits{
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
        margin: auto;
        gap: 10px;
        margin-top: 50px;
    }

    .benefits > div {
        flex: 0 0 100%; 
        margin: auto;
        box-sizing: border-box;
    }
    .benefit1{
        width: 100%;
    }
    .benefit2{
        width: 100%;
    }
    .benefit3{
        width: 100%; 
    }

    .plan-dots {
        text-align: center;
        margin-top: 15px;
    }

    .plan-dots span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 6px;
        background-color: rgb(238 188 163);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .plan-dots .active {
        background-color: rgb(146 131 128);
    }
}


/* responsive  in mobile view*/
@media (min-width: 370px) and (max-width: 400px) {
    .whyus{
        width: 100%;
        margin-top: 100px;
        gap: 50px;
    
    }
    .highlight1{
        font-size: 20px;
    }
    .highlight2{
        font-size: 40px;
        width: 90%;
        margin: auto;
        line-height: 60px;
    }
    .highlight3{
        width: 90%;
        margin: auto;
        line-height: 1.5;
    }
    .slider {
        width: 80%;
        justify-content: center;
        display: flex;
        margin: auto;
        overflow: hidden; 
        position: relative;
    }
    .benefits{
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
        margin: auto;
        gap: 10px;
        margin-top: 50px;
    }

    .benefits > div {
        flex: 0 0 100%; 
        margin: auto;
        box-sizing: border-box;
    }
    .benefit1{
        width: 100%;
    }
    .benefit2{
        width: 100%;
    }
    .benefit3{
        width: 100%; 
    }

    .plan-dots {
        text-align: center;
        margin-top: 15px;
    }

    .plan-dots span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 6px;
        background-color: rgb(238 188 163);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .plan-dots .active {
        background-color: rgb(146 131 128);
    }
}
 
